.portal .drawer {
  position: fixed;
  right: -20px;
  top: 0;
  width: 300px;
  height: 100%;
  background-color: white;
  transform: translateX(100%);
  border-left: 1px solid #bfbfbf;
  transition: transform 0.3s ease;
  text-align: left;
  overflow-y: auto;
  overflow-x: hidden;
}

.portal .menu-fld {
  cursor: pointer;
  padding: 10px 10px;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Noto Sans KR';
  /* border: 1px solid #bfbfbf; */
  box-sizing: border-box;
  width: 300px;
  border-bottom: 1px solid #d9d9d9;
}

.portal .menu-fld img{
  margin-right: 3px;
}

.portal .menu-fld::after {
  content: '';
  float: right;
  position: relative;
  height: 8px;
  width: 12px;
  right: 25px;
  top: 7px;
  opacity: 0.3;
  background: url('../img/select_ico.png') no-repeat;
  background-position: center;
}

.portal .is-open .menu-fld::after {
  transform: rotate(180deg);
}

.portal .menu-report {
  cursor: pointer;
  padding: 7px 30px;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Noto Sans KR';
  border-bottom: 1px solid #d9d9d9;
  background: #f5f5f5;
  box-sizing: border-box;
  display: block;
  width: 300px;
}

.menu-report:hover {
  background-color: #efefef;
}

/* .menu-report:last-child {
  border-bottom: none;
} */

.portal .drawer.open {
  transform: translateX(0);
  transition: transform 0.3s ease;
}

.portal .drawer ul {
  padding-left: 20px;
  list-style: none;
}

.portal .drawer ul li {
  padding: 10px 0;
}

.portal .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1; /* Drawer보다 낮게 */
}

.portal .drawer {
  z-index: 2; /* backdrop보다 높게 */
}