.ribbon-button-new-report {
	background-image: url(assets/image/icon/button/newFileIcon.png);
   
    background-size: 20px !important;
}

.ribbon-button-open-report-local{
	background-image: url(assets/image/icon/button/loadFile.png);
    background-size: 30px !important;
}

.ribbon-button-open-report{
	background-image: url(assets/image/icon/button/loadFileServer.png);
    background-size: 32px !important;
}

.ribbon-button-save-report{
	background-image: url(assets/image/icon/button/saveIcon.png);
    background-size: 26px !important;
}

.ribbon-button-save-as-report{
	background-image: url(assets/image/icon/button/saveAsIcon.png);
    background-size: 26px !important;
}

.ribbon-button-delete-report{
	background-image: url(assets/image/icon/button/removeIcon.png);
    background-size: 26px !important;
}

.ribbon-button-download-report{
	background-image: url(assets/image/icon/button/downloadIcon.png);
    background-size: 26px !important;
}

.ribbon-button-dataset{
	background-image: url(assets/image/icon/button/dataset2sheet.png);
    background-size: 30px !important;
}

.ribbon-button-print{
	background-image: url(assets/image/icon/button/icon_print.png);
    background-size: 32px !important;
}