@charset "utf-8";

@font-face {
	font-family: 'NanumGothic';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/NanumBarunGothic.woff') format('woff'),
	url('../fonts/NanumBarunGothic.woff2') format('woff2');
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.portal {
	font-family: 'NanumGothic';
	background: transparent;
	font-size: 100%;
	vertical-align: baseline;
}

.portal html,
.portal body {
	width: 100%;
	height: 100%;
}

.portal article,
.portal aside,
.portal details,
.portal figcaption,
.portal figure,
.portal footer,
.portal header,
.portal hgroup,
.portal menu,
.portal nav,
.portal section {
	display: block;
}

.portal a {
	color: inherit;
	text-decoration: none;
}

.portal img {
	vertical-align: top;
}

.portal ul,
.portal ol,
.portal li {
	list-style: none;
}

.portal button {
	border: none;
	background: transparent;
	font-family: inherit;
	font-size: inherit;
	text-align: left;
	cursor: pointer;
}

.portal button:active {
	outline: none;
}

.portal button:focus {
	outline: none;
}

.portal table {
	border-collapse: collapse;
	border-spacing: 0;
}

.portal hr {
	border: none;
}

.blind {
	overflow: hidden;
	position: absolute;
	clip: rect(0, 0, 0, 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.clearfix::after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	font-size: 0;
	clear: both;
}