@charset "utf-8";

@font-face {
	font-family: 'NanumGothic';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/NanumBarunGothic.woff') format('woff'),
	url('../fonts/NanumBarunGothic.woff2') format('woff2');
}




* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.portal html,
.portal body,
.portal div,
.portal span,
.portal applet,
.portal object,
.portal iframe,
.portal h1,
.portal h2,
.portal h3,
.portal h4,
.portal h5,
.portal h6,
.portal p,
.portal blockquote,
.portal pre,
.portal a,
.portal abbr,
.portal acronym,
.portal address,
.portal big,
.portal cite,
.portal code,
.portal del,
.portal dfn,
.portal em,
.portal img,
.portal ins,
.portal kbd,
.portal q,
.portal s,
.portal samp,
.portal small,
.portal strike,
.portal strong,
.portal sub,
.portal sup,
.portal tt,
.portal var,
.portal b,
.portal u,
.portal i,
.portal enter,
.portal dl,
.portal dt,
.portal dd,
.portal ol,
.portal ul,
.portal li,
.portal fieldset,
.portal form,
.portal label,
.portal legend,
.portal table,
.portal caption,
.portal tbody,
.portal tfoot,
.portal thead,
.portal tr,
.portal th,
.portal td,
.portal article,
.portal aside,
.portal canvas,
.portal details,
.portal embed,
.portal figure,
.portal figcaption,
.portal footer,
.portal header,
.portal hgroup,
.portal menu,
.portal nav,
.portal output,
.portal ruby,
.portal section,
.portal summary,
.portal time,
.portal mark,
.portal audio,
.portal video {
	font-family: 'NanumGothic';

	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
	font-size: 100%;
	vertical-align: baseline;
}

.portal html,
.portal body {
	width: 100%;
	height: 100%;
}

.portal article,
.portal aside,
.portal details,
.portal figcaption,
.portal figure,
.portal footer,
.portal header,
.portal hgroup,
.portal menu,
.portal nav,
.portal section {
	display: block;
}

.portal a {
	color: inherit;
	text-decoration: none;
}

.portal img {
	vertical-align: top;
}

.portal ul,
.portal ol,
.portal li {
	list-style: none;
}

.portal button {
	border: none;
	background: transparent;
	font-family: inherit;
	font-size: inherit;
	text-align: left;
	cursor: pointer;
}

.portal button:active {
	outline: none;
}

.portal button:focus {
	outline: none;
}

.portal table {
	border-collapse: collapse;
	border-spacing: 0;
}

.portal hr {
	border: none;
}

.blind {
	overflow: hidden;
	position: absolute;
	clip: rect(0, 0, 0, 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.clearfix::after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	font-size: 0;
	clear: both;
}