<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wise.MarketingPlatForm.config.dao.ConfigDAO">
    
    <resultMap id="FldMstr" type="com.wise.MarketingPlatForm.config.entity.FldMstrEntity">
      <result column="FLD_ID" property="fldId" javaType="int"/>
      <result column="FLD_NM" property="fldNm" javaType="String"/>
      <result column="FLD_LVL" property="fldLvl" javaType="int"/>
      <result column="FLD_PARENT_ID" property="fldParentId" javaType="int"/>
      <result column="FLD_ORDINAL" property="fldOrdinal" javaType="int"/>
      <result column="FLD_DESC" property="fldDesc" javaType="String"/>
    </resultMap>

    <resultMap id="ConfigFolderPub" type="com.wise.MarketingPlatForm.config.model.folder.ConfigFolderPubModel">
      <result column="FLD_ID" property="fldId" javaType="int"/>
      <result column="FLD_NM" property="fldNm" javaType="String"/>
      <result column="FLD_PARENT_ID" property="fldParentId" javaType="int"/>
      <result column="AUTH_VIEW" property="authView" javaType="boolean"/>
      <result column="AUTH_PUBLISH" property="authPublish" javaType="boolean"/>
      <result column="AUTH_DATASOURCE" property="authDatasource" javaType="boolean"/>
      <result column="AUTH_DATAITEM" property="authDataItem" javaType="boolean"/>
      <result column="AUTH_EXPORT" property="authExport" javaType="boolean"/>
    </resultMap>

    <resultMap id="ConfigFolderReportDTO" type="com.wise.MarketingPlatForm.config.dto.folder.ConfigFolderReportDTO">
      <result column="FLD_ID" property="fldId" javaType="int"/>
      <result column="FLD_NM" property="fldNm" javaType="String"/>
      <result column="FLD_LVL" property="fldLvl" javaType="int"/>
      <result column="FLD_PARENT_ID" property="fldParentId" javaType="int"/>
      <result column="FLD_ORDINAL" property="fldOrdinal" javaType="int"/>
      <result column="REPORT_ID" property="reportId" javaType="int"/>
      <result column="REPORT_NM" property="reportNm" javaType="String"/>
      <result column="REPORT_SUB_TITLE" property="reportSubTitle" javaType="String"/>
      <result column="USER_ID" property="userId" javaType="String"/>
      <result column="REG_DT" property="regDt" javaType="String"/> <!-- 게시 일자 -->
      <result column="REG_USER_NO" property="regUserNo" javaType="int"/> <!-- 게시자 -->
      <result column="REG_USER_NM" property="regUserNm" javaType="String"/> <!-- 게시자 이름 -->
      <result column="MOD_DT" property="modDt" javaType="String"/> <!-- 최종 수정 일자-->
      <result column="MOD_USER_NO" property="modUserNo" javaType="int"/> <!-- 최종 수정자-->
      <result column="MOD_USER_NM" property="modUserNm" javaType="String"/> <!-- 최종 수정자 이름 -->
      <result column="GRID_INFO" property="requester" javaType="String"/> <!-- 요청자-->
      <result column="REPORT_TAG" property="reportTag" javaType="String"/>
      <result column="REPORT_ORDINAL" property="reportOrdinal" javaType="String"/>
      <result column="REPORT_DESC" property="reportDesc" javaType="String"/>
      <result column="REPORT_TYPE" property="reportType" javaType="String"/>
      <result column="PROMPT_YN" property="promptYn" javaType="String"/>
      <result column="MAX_REPORT_PERIOD_YN" property="maxReportPeriodYn" javaType="String"/>
      <result column="DATASET_XML" property="datasetXml" javaType="String"/>
    </resultMap>

    <resultMap id="userList" type="com.wise.MarketingPlatForm.auth.vo.UserDTO">
      <result column="USER_NO" property="userNo" javaType="int"/>
      <result column="GRP_ID" property="grpId" javaType="int"/>
      <result column="USER_ID" property="userId" javaType="String"/>
      <result column="USER_NM" property="userNm" javaType="String"/>
    </resultMap>

    <resultMap id="ConfigFolderDatasetDTO" type="com.wise.MarketingPlatForm.config.dto.folder.ConfigFolderDatasetDTO">
      <result column="FLD_ID" property="fldId" javaType="int"/>
      <result column="FLD_NM" property="fldNm" javaType="String"/>
      <result column="PARENT_FLD_ID" property="parentFldId" javaType="int"/>
      <result column="FLD_ORDINAL" property="fldOridinal" javaType="int"/>
    </resultMap>

    <resultMap id="ConfigFolderDTO" type="com.wise.MarketingPlatForm.config.dto.folder.ConfigFolderDTO">
      <result column="GRP_ID" property="grpId" javaType="int"/>
      <result column="FLD_ID" property="fldId" javaType="int"/>
      <result column="FLD_NM" property="fldNm" javaType="String"/>
      <result column="FLD_LVL" property="fldLvl" javaType="int"/>
      <result column="FLD_PARENT_ID" property="fldParentId" javaType="int"/>
      <result column="FLD_ORDINAL" property="fldOridinal" javaType="int"/>
      <result column="AUTH_VIEW" property="authView" javaType="String"/>
      <result column="AUTH_PUBLISH" property="authPublish" javaType="String"/>
      <result column="AUTH_DATASOURCE" property="authDatasource" javaType="String"/>
      <result column="AUTH_DATAITEM" property="authDataItem" javaType="String"/>
      <result column="AUTH_EXPORT" property="authExport" javaType="String"/>
    </resultMap>

    <resultMap id="MyPageFolderReportDTO" type="com.wise.MarketingPlatForm.config.dto.myPage.MyPageFolderReportDTO">
      <result column="ID" property="id" javaType="int"/>
      <result column="NAME" property="name" javaType="String"/>
      <result column="FLD_LVL" property="fldLvl" javaType="int"/>
      <result column="FLD_PARENT_ID" property="fldParentId" javaType="int"/>
      <result column="ORDINAL" property="ordinal" javaType="int"/>
      <result column="TYPE" property="type" javaType="String"/>
      <result column="SUBTITLE" property="subtitle" javaType="String"/>
      <result column="TAG" property="tag" javaType="String"/>
      <result column="DESCRIPTION" property="desc" javaType="String"/>
      <result column="QUERY" property="query" javaType="String"/>
      <result column="CREATED_DATE" property="createdDate" javaType="String"/>
      <result column="PROMPT" property="prompt" javaType="String"/>
      <result column="MAXREPORTPERIODYN" property="maxReportPeriodYn" javaType="String"/>
      <result column="CREATED_BY" property="createdBy" javaType="String"/>
      <result column="DATASET_XML" property="datasetXml" javaType="String"/>
    </resultMap>

    <select id="selectUserList" resultMap="userList">
			SELECT
        USER_NO,
        GRP_ID,
        USER_ID,
        USER_NM
        FROM USER_MSTR
          WHERE DEL_YN = 'N'
            ORDER BY USER_ID ASC
		</select>
    <select id="selectUserByUserNo" parameterType="int" resultMap="userList">
			SELECT
      USER_NO,
      GRP_ID,
      USER_ID,
      USER_NM
      FROM USER_MSTR
      WHERE DEL_YN = 'N'
      AND USER_NO = #{userNo}
      ORDER BY USER_ID ASC
		</select>
    <select id="selectConfigFolder" resultMap="FldMstr">
			SELECT
        FLD_ID,
        FLD_NM,
        FLD_LVL,
        FLD_PARENT_ID,
        FLD_ORDINAL,
        FLD_DESC
        FROM PUB_FLD_MSTR
            ORDER BY FLD_ORDINAL ASC
		</select>

    <select id="selectConfigPubFolder" resultMap="ConfigFolderPub">
			SELECT
        FLD_ID,
        FLD_NM,
        FLD_PARENT_ID,
        'false' AS AUTH_VIEW,
        'false' AS AUTH_PUBLISH,
        'false' AS AUTH_DATASOURCE,
        'false' AS AUTH_DATAITEM,
        'false' AS AUTH_EXPORT
        FROM PUB_FLD_MSTR
            ORDER BY FLD_LVL ASC, FLD_ORDINAL ASC
		</select>

    <select id="selectMyPageFolderCount" resultType="int">
      SELECT COUNT(*) FROM USER_FLD_MSTR WHERE USER_NO = #{userNo}
    </select>
    <!-- 임시 작성 추후 변경가능. -->
    <select id="selectMyPageFolderReport" resultMap="MyPageFolderReportDTO">
      SELECT 
        REPORTANDFOLDER.ID,
        REPORTANDFOLDER.NAME,
        REPORTANDFOLDER.FLD_LVL,
        REPORTANDFOLDER.ORDINAL,
        REPORTANDFOLDER.FLD_PARENT_ID,
        REPORTANDFOLDER.TYPE,
        REPORTANDFOLDER.SUBTITLE,
        REPORTANDFOLDER.TAG,
        REPORTANDFOLDER.DESCRIPTION,
        REPORTANDFOLDER.QUERY,
        REPORTANDFOLDER.CREATED_DATE,
	      REPORTANDFOLDER.PROMPT,
        REPORTANDFOLDER.maxReportPeriodYn,
        REPORTANDFOLDER.CREATED_BY,
        REPORTANDFOLDER.DATASET_XML
          FROM
          (
          SELECT 
            FLD_ID AS ID,
            FLD_NM AS NAME,
            FLD_LVL,
            FLD_ORDINAL AS ORDINAL,
            FLD_PARENT_ID,
            CAST('FOLDER' AS NVARCHAR2(20)) AS TYPE,
            NULL AS SUBTITLE,
            NULL AS TAG,
            FLD_DESC AS DESCRIPTION,
            NULL AS QUERY,
            NULL AS PROMPT,
            NULL AS maxReportPeriodYn,
						NULL AS CREATED_DATE,
            #{userNm} AS CREATED_BY,
            NULL AS DATASET_XML
              FROM USER_FLD_MSTR WHERE USER_NO = #{userNo}
          UNION ALL
          SELECT 
            REPORT_ID AS ID,
            REPORT_NM AS NAME,
            987654321 AS FLD_LVL,
            REPORT_ORDINAL AS ORDINAL,
            FLD_ID AS FLD_PARENT_ID,
            REPORT_TYPE AS TYPE,
            REPORT_SUB_TITLE AS SUBTITLE,
            REPORT_TAG AS TAG,
            REPORT_DESC AS DESCRIPTION,
            DATASET_QUERY AS QUERY,
            PROMPT_YN AS PROMPT,
            MAX_REPORT_PERIOD_YN AS maxReportPeriodYn,
	          REG_DT AS CREATED_DATE,
            #{userNm} AS CREATED_BY,
            DATASET_XML AS DATASET_XML
              FROM REPORT_MSTR WHERE FLD_ID IN (
                    SELECT FLD_ID FROM USER_FLD_MSTR WHERE USER_NO = #{userNo}
                  ) AND DEL_YN = 'N'
        ) REPORTANDFOLDER 
           ORDER BY
            REPORTANDFOLDER.TYPE,
            REPORTANDFOLDER.ORDINAL,
            REPORTANDFOLDER.NAME
    </select>

    <update id="updateMyFolder" parameterType="com.wise.MarketingPlatForm.config.dto.myPage.MyPageFolderReportDTO">
      UPDATE USER_FLD_MSTR
          SET 
            <if test='name != ""'>
              FLD_NM = #{name, jdbcType=VARCHAR},
            </if>
            <if test='fldParentId != 0'>
              FLD_PARENT_ID = #{fldParentId, jdbcType=INTEGER},
            </if>
              FLD_ORDINAL = #{ordinal, jdbcType=INTEGER},
              FLD_DESC = #{desc, jdbcType=VARCHAR},
            <if test='fldLvl != 0'>
              FLD_LVL = #{fldLvl, jdbcType=INTEGER},
            </if>
            FLD_ID = FLD_ID
          WHERE FLD_ID = #{id}
    </update>

    <update id="updateMyReprot" parameterType="com.wise.MarketingPlatForm.config.dto.myPage.MyPageFolderReportDTO">
      UPDATE REPORT_MSTR
          SET 
            <if test='name != ""'>
              REPORT_NM = #{name, jdbcType=VARCHAR},
            </if>
            <if test='type != ""'>
              REPORT_TYPE = #{type, jdbcType=VARCHAR},
            </if>
            <if test='fldParentId != ""'>
              FLD_ID = #{fldParentId, jdbcType=INTEGER},
            </if>
            <if test='subtitle != ""'>
              REPORT_SUB_TITLE = #{subtitle, jdbcType=VARCHAR},
            </if>
            <if test='tag != ""'>
              REPORT_TAG = #{tag, jdbcType=VARCHAR},
            </if>
            <if test='desc != ""'>
              REPORT_DESC = #{desc, jdbcType=VARCHAR},
            </if>
            <if test='ordinal != null'>
              REPORT_ORDINAL = #{ordinal, jdbcType=INTEGER},
            </if>
            <if test='prompt != ""'>
              PROMPT_YN = #{prompt, jdbcType=VARCHAR},
            </if>
            <if test='maxReportPeriodYn != ""'>
              MAX_REPORT_PERIOD_YN = #{maxReportPeriodYn, jdbcType=VARCHAR}
            </if>
          WHERE REPORT_ID = #{id}
    </update>

    <insert id="createMyFolder" parameterType="com.wise.MarketingPlatForm.config.dto.myPage.MyPageFolderReportDTO">
        INSERT INTO
        USER_FLD_MSTR(
            FLD_ID,
            USER_NO,
            FLD_NM,
            FLD_LVL,
            FLD_PARENT_ID,
            FLD_ORDINAL,
            FLD_DESC
        )
        VALUES(
            USER_FLD_MSTR_FLD_ID_SEQ.NEXTVAL,
            #{userNo, jdbcType=INTEGER},
            #{name, jdbcType=VARCHAR},
            #{fldLvl, jdbcType=INTEGER},
            #{fldParentId, jdbcType=INTEGER},
            #{ordinal, jdbcType=INTEGER},
            #{desc, jdbcType=VARCHAR}
        )
    </insert>

    <select id="selectConfigFolderDataset" resultMap="ConfigFolderDatasetDTO">
			SELECT
        FLD_ID,
        FLD_NM,
        PARENT_FLD_ID,
        FLD_ORDINAL
        FROM DATASET_FLD_MSTR
        ORDER BY
            FLD_ID ASC,
            FLD_ORDINAL ASC
		</select>

    <select id="selectConfigFolders" resultMap="ConfigFolderReportDTO">
			SELECT FLD_ID,
        FLD_NM,
        FLD_LVL,
        FLD_PARENT_ID,
        FLD_ORDINAL,
        0 AS REPORT_ID,
        NULL AS REPORT_NM,
        NULL AS REPORT_SUB_TITLE,
        NULL AS USER_ID,
        NULL AS REG_DT,
        NULL AS REPORT_TAG,
        '0' AS REPORT_ORDINAL,
        null AS REPORT_DESC,
        NULL AS REPORT_TYPE,
        NULL AS PROMPT_YN  FROM PUB_FLD_MSTR
        ORDER BY FLD_ORDINAL ASC
		</select>
    <select id="selectConfigFolderReport" resultMap="ConfigFolderReportDTO">
			SELECT
      PUB_FLD_MSTR.FLD_ID,
      PUB_FLD_MSTR.FLD_NM,
      PUB_FLD_MSTR.FLD_LVL,
      PUB_FLD_MSTR.FLD_PARENT_ID,
      PUB_FLD_MSTR.FLD_ORDINAL,
      REPORT_MSTR.REPORT_ID,
      REPORT_MSTR.REPORT_NM,
      REPORT_MSTR.REPORT_SUB_TITLE,
      REG_USER_MSTR.USER_ID,
      REPORT_MSTR.REG_DT, <!-- 게시 일자 -->
      REPORT_MSTR.REG_USER_NO, <!-- 게시자 -->
      REG_USER_MSTR.USER_NM AS REG_USER_NM, <!-- 게시자 이름 -->
      REPORT_MSTR.MOD_DT, <!-- 최종 수정 일자 -->
      REPORT_MSTR.MOD_USER_NO, <!-- 최종 수정자 -->
      MOD_USER_MSTR.USER_NM AS MOD_USER_NM, <!-- 최종 수정자 이름 -->
      REPORT_MSTR.GRID_INFO, <!-- 요청자 -->
      REPORT_MSTR.REPORT_TAG,
      REPORT_MSTR.REPORT_ORDINAL,
      REPORT_MSTR.REPORT_DESC,
      REPORT_MSTR.REPORT_TYPE,
      REPORT_MSTR.PROMPT_YN,
      REPORT_MSTR.MAX_REPORT_PERIOD_YN,
      REPORT_MSTR.DATASET_XML
      FROM PUB_FLD_MSTR
      INNER JOIN REPORT_MSTR
      ON PUB_FLD_MSTR.FLD_ID = REPORT_MSTR.FLD_ID
      INNER JOIN USER_MSTR REG_USER_MSTR
      ON REG_USER_MSTR.USER_NO = REPORT_MSTR.REG_USER_NO
      AND (REG_USER_MSTR.DEL_YN = 'N')
      LEFT JOIN USER_MSTR MOD_USER_MSTR
      ON MOD_USER_MSTR.USER_NO = REPORT_MSTR.MOD_USER_NO
      AND (MOD_USER_MSTR.DEL_YN = 'N')
      WHERE (REPORT_MSTR.DEL_YN = 'N')
      ORDER BY REPORT_MSTR.REPORT_ORDINAL, REPORT_MSTR.REPORT_NM
		</select>
  
    <select id="selectConfigPrivateFolderReport" resultMap="ConfigFolderReportDTO">
			SELECT
        USER_FLD_MSTR.FLD_ID,
        USER_FLD_MSTR.FLD_NM,
        USER_FLD_MSTR.FLD_LVL,
        USER_FLD_MSTR.FLD_PARENT_ID,
        USER_FLD_MSTR.FLD_ORDINAL,
        REPORT_MSTR.REPORT_ID,
        REPORT_MSTR.REPORT_NM,
        REPORT_MSTR.REPORT_SUB_TITLE,
        USER_MSTR.USER_ID,
        REPORT_MSTR.REG_DT,
        REPORT_MSTR.REPORT_TAG,
        REPORT_MSTR.REPORT_ORDINAL,
        REPORT_MSTR.REPORT_DESC,
        REPORT_MSTR.REPORT_TYPE,
        REPORT_MSTR.PROMPT_YN 
        FROM USER_FLD_MSTR INNER JOIN REPORT_MSTR
            ON USER_FLD_MSTR.FLD_ID = REPORT_MSTR.FLD_ID
                          INNER JOIN USER_MSTR 
            ON USER_MSTR.USER_NO = REPORT_MSTR.REG_USER_NO
            WHERE REPORT_MSTR.DEL_YN = 'N' AND USER_MSTR.DEL_YN = 'N'
            AND REPORT_MSTR.REG_USER_NO = #{userNo, jdbcType = INTEGER}
            ORDER BY USER_FLD_MSTR.FLD_ORDINAL, USER_FLD_MSTR.FLD_NM, REPORT_MSTR.REPORT_ORDINAL, REPORT_MSTR.REPORT_NM
		</select>

    <select id="selectConfigPrivateFolders" resultMap="ConfigFolderReportDTO">
      SELECT FLD_ID,
        FLD_NM,
        FLD_LVL,
        FLD_PARENT_ID,
        FLD_ORDINAL,
        0 AS REPORT_ID,
        NULL AS REPORT_NM,
        NULL AS REPORT_SUB_TITLE,
        NULL AS USER_ID,
        NULL AS REG_DT,
        NULL AS REPORT_TAG,
        '0' AS REPORT_ORDINAL,
        null AS REPORT_DESC,
        NULL AS REPORT_TYPE,
        NULL AS PROMPT_YN  FROM USER_FLD_MSTR
         WHERE USER_NO = #{userNo, jdbcType = INTEGER}
        ORDER BY FLD_ORDINAL, FLD_NM
    </select>
    
    <select id="selectConfigFolderGroup" resultMap="ConfigFolderDTO">
			SELECT
        GRP_AUTH_REPORT_MSTR.GRP_ID,
        PUB_FLD_MSTR.FLD_ID,
        PUB_FLD_MSTR.FLD_NM,
        PUB_FLD_MSTR.FLD_LVL,
        PUB_FLD_MSTR.FLD_PARENT_ID,
        PUB_FLD_MSTR.FLD_ORDINAL,
        GRP_AUTH_REPORT_MSTR.AUTH_VIEW,
        GRP_AUTH_REPORT_MSTR.AUTH_PUBLISH,
        GRP_AUTH_REPORT_MSTR.AUTH_DATASOURCE,
        GRP_AUTH_REPORT_MSTR.AUTH_DATAITEM,
        GRP_AUTH_REPORT_MSTR.AUTH_EXPORT
        FROM PUB_FLD_MSTR INNER JOIN GRP_AUTH_REPORT_MSTR
        ON PUB_FLD_MSTR.FLD_ID = GRP_AUTH_REPORT_MSTR.FLD_ID
        ORDER BY 
            GRP_AUTH_REPORT_MSTR.GRP_ID,
            PUB_FLD_MSTR.FLD_ID DESC, 
            PUB_FLD_MSTR.FLD_LVL ASC, 
            PUB_FLD_MSTR.FLD_ORDINAL ASC
		</select>

    <select id="selectReportCountByFldId" parameterType="java.util.List" resultType="int">
      SELECT COUNT(*)
      FROM REPORT_MSTR
      WHERE FLD_ID IN
      <foreach item="id" collection="list" open="(" separator="," close=")">
          #{id, jdbcType=INTEGER}
      </foreach>
  </select>

    <update id="updateConfig" parameterType="com.wise.MarketingPlatForm.config.entity.ConfigMstrEntity">
      UPDATE CONFIG_MSTR
          SET 
              <if test='mainTitle != ""'>
                MAIN_TITLE = #{mainTitle, jdbcType=VARCHAR},
              </if>
              <if test='licensesKey != ""'>
                LICENSES_KEY = #{licensesKey, jdbcType=VARCHAR},
              </if>
              <if test='webUrl != ""'>
                WEB_URL = #{webUrl, jdbcType=VARCHAR},
              </if>
              <if test='adHocLayout != ""'>
                DEFAULT_LAYOUT = #{adHocLayout, jdbcType=VARCHAR},
              </if>
              MAIN_TAB_EX = MAIN_TAB_EX
          WHERE 1 = 1
    </update>

    <update id="updateWbConfig" parameterType="com.wise.MarketingPlatForm.config.entity.WbConfigMstrEntity">
        UPDATE WB_CONFIG_MSTR
          SET 
              <if test='loginImage != ""'>
                LOGIN_IMAGE = #{loginImage, jdbcType=VARCHAR},
              </if>
              <if test='logo != ""'>
                LOGO = #{logo, jdbcType=VARCHAR},
              </if>
              <if test='spreadJsLicense != ""'>
                SPREAD_JS_LICENSE = #{spreadJsLicense, jdbcType=VARCHAR},
              </if>
              <if test='spreadJsDesignLicense != ""'>
                SPREAD_JS_DESIGNER_LICENSE = #{spreadJsDesignLicense, jdbcType=VARCHAR},
              </if>
              <if test='kakaoMapApiKey != ""'>
                KAKAO_MAP_API_KEY = #{kakaoMapApiKey, jdbcType=VARCHAR},
              </if>
              <if test='menuConfig != ""'>
                MENU_CONFIG = #{menuConfig, jdbcType=VARCHAR},
              </if>
              REPORT_DIRECT_VIEW = REPORT_DIRECT_VIEW
          WHERE 1 = 1
    </update>
  
    <update id="updateConfigFolder" parameterType="com.wise.MarketingPlatForm.config.entity.FldMstrEntity">
        UPDATE PUB_FLD_MSTR
          SET 
              <if test='fldLvl != 0'>
                FLD_LVL = #{fldLvl, jdbcType=INTEGER},
              </if>
                FLD_PARENT_ID = #{fldParentId, jdbcType=INTEGER},
              <if test='fldOrdinal != 0'>
                FLD_ORDINAL = #{fldOrdinal, jdbcType=INTEGER},
              </if>
              <if test='fldDesc != ""'>
                FLD_DESC = #{fldDesc, jdbcType=VARCHAR},
              </if>
              <if test='fldNm != ""'>
                FLD_NM = #{fldNm, jdbcType=VARCHAR},
              </if>
              FLD_ID = FLD_ID
          WHERE FLD_ID = #{fldId, jdbcType=INTEGER}
    </update>

    <insert id="createConfigFolder" parameterType="com.wise.MarketingPlatForm.config.entity.FldMstrEntity">
        INSERT INTO
        PUB_FLD_MSTR(
            FLD_ID,
            FLD_NM,
            FLD_LVL,
            FLD_PARENT_ID,
            FLD_ORDINAL,
            FLD_DESC
        )
        VALUES(
            PUB_FLD_MSTR_FLD_ID_SEQ.NEXTVAL,
            #{fldNm, jdbcType=VARCHAR},
            #{fldLvl, jdbcType=INTEGER},
            #{fldParentId, jdbcType=INTEGER},
            #{fldOrdinal, jdbcType=INTEGER},
            #{fldDesc, jdbcType=VARCHAR}
        )
    </insert>

    <delete id="deleteConfigFolder" parameterType="com.wise.MarketingPlatForm.config.entity.FldMstrEntity">
      DELETE FROM PUB_FLD_MSTR 
              WHERE FLD_ID = #{fldId, jdbcType=INTEGER}
    </delete>

    <delete id="deleteMyFolder" parameterType="java.util.List">
      DELETE FROM USER_FLD_MSTR 
              WHERE
        <if test="list != null and list.size != 1">
          FLD_ID IN
          <foreach item="id" index="index" collection="list" separator="," open="(" close=")">
            #{id, jdbcType=INTEGER}
          </foreach>
        </if>
        <if test="list != null and list.size == 1">
          FLD_ID =
          <foreach item="id" collection="list">
            #{id, jdbcType=INTEGER}
          </foreach>
        </if>
    </delete>

    <update id="deleteChildReports" parameterType="java.util.List">
      UPDATE 	REPORT_MSTR
      SET		DEL_YN = 'Y'
      WHERE FLD_ID IN
      <if test="list != null">
        <foreach item="id" index="index" collection="list" separator="," open="(" close=")">
          #{id, jdbcType=INTEGER}
        </foreach>
      </if>
      AND FLD_ID IS NOT NULL
    </update>
</mapper>